
 /* Extra small devices (portrait phones, less than 576px) */
@media (min-width:320px) and (max-width:575.98px){
    .mid-btn{
        display: flex;
        justify-content: center;
        font-size: 18px;
        padding: 10px 25px;
        align-items: center;


    }
    /* banner */
    #banner-part .banner .overlay {
        padding: 80px 0;
    }
    #banner-part .banner .overlay h2{
        font-size: 35px;
        font-weight: 600;
        line-height: 50px;
        letter-spacing: 0.5px;
    }
    #banner-part .banner .overlay a{
        margin-bottom: 10px;
    }
    #banner-part .slick-dots{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        padding-left: 0 !important;
    }
    #banner-part .slick-dots li{
        display: inline-block;
    }
    #banner-part .slick-dots li button{  
        font-size: 0;
        background: transparent;
        border: 2px solid  #fff;
        border-radius: 50%;
        margin: 0 10px;
        width: 10px;
        height: 10px;
    }
    #banner-part .slick-dots .slick-active button{
        background:#fff ;
    }
    /* who we are */
    .landing-title{
        font-size: 38px;
    }
    .landing-content p{
        font-size: 16px;
    }
    /* finance */
    .finance-header{
        font-size: 32px;
        line-height:40px;
        white-space: 3px;
    }
    /* data & tecnology */
    .tecnology-title{
        font-size: 37px;
        line-height:32px;
        letter-spacing:1.5px;
    }
    .tecnology-content{
        font-size: 14px;
    }
    .responsive-and{
        display: block;
    }

    /* improve part */
    .improve-item_1{
        left: 45px;
        top: 21px;
    }
    .improve-item_2{
        left: 127px;
    }
    .improve-item_3{
        left: 45px;
        bottom: 57px;
    }
    .improve-title h2{
        font-size: 33px;
    }
    .improve-title p{
        font-size: 15px;
    }
    /* impact stories */
    .impact-title span{
        font-size: 35px;
    }
    .card-vedio iframe{
        width: 264px;
    }
    .card-text h3{
        font-size: 24px;
        padding-bottom:0;
    }
    .card-text p{
        padding-bottom: 0;
        font-size: 14.7px;
    }
    /* ======================================================= About us ================================= */
    /* our culture */
    .culture-and{
        display: block;
    }
    #our-culture .landing-title {
        line-height: 34px;
    }
    /* =============================================== fund =========================================== */
    /* networking part   */
    #networking .circle{
        height: 145px;
        width: 145px;
    }
    #nerworking .circle p{
        font-size: 30px;
    }
    #networking .networking_text p{
        margin-bottom: 0;
    }
    /* impact stories */
    #impact-stories .impact-stories-item h2{
        font-size: 43px;
    }
    #impact-stories .impact-stories-item h5{
        font-size: 26px;
    }
    /* ====================================== frem =============================== */
    
    .farm-text{
        padding: 0;
    }
    .farm-text .farm-text_1{
        font-size: 28px;
    }
    .farm-text .farm-text_2{
        font-size: 38px;
    }
    .farm-text .farm-text_3{
        font-size: 20px;
    }
    .price_tag{
        transform: translate(29.5%,-130%)
    }
    /* ====================================== contact us======================== */
    .contact-banner{
        padding-top: 46px;
        padding-bottom: 35px;
    }
    #banner-part .banner .overlay .contact-banner h2{
        padding: 0;
        font-size: 29px;
        line-height: 47px;
    }
    .contact-banner p{
        font-size: 19px;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    /* banner part */
    #banner-part .banner .overlay {
        padding: 102px 0;
    }
    #banner-part .banner .overlay h2{
        font-size: 45px;
        line-height: 56px;
    }

    /* finance */
    .finance-content{
        text-align: justify ;
    }
    .finance-image img{
        width: 100%;
    }

    /* data and tecnology */
    .tecnology-content{
        font-size: 16px;
    }
    /* improve part */
    .improve-title h2{
        font-size: 42px;
    }
    /* impact stories */
    .card-vedio iframe{
        width: 246px;
        height: 183px;
    }
    /* ====================== fund ================================ */
    /* networking */
    #networking .networking_text p{
        margin-bottom: 0;
    }
    /* ==========farm==================================== */
    .price_tag{
        transform: translate(24.5%,-130%)
    }
    /* ===============================contact us ====================================== */
    /* cantact banner */
    .contact-banner{
        padding: 60px 0;
    }
    #banner-part .banner .overlay .contact-banner h2{
        font-size: 32px;
        padding: 0;
    }
    .contact-banner p{
        font-size: 14px;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    
    /* finance */
    .finance-header{
        font-size: 50px;
    }
    .finance-content{
        font-size: 17.2px;
    }
    .finance-return{
        font-size: 20px;
        word-spacing: 2.2px;
    }
    .finance-image img{
        width: 100%;
    }
    /* impact stories */
    .card-vedio iframe{
        width: 336px;
        height: 206px;
    }
    /* ================== countact us ===================== */
    .contact-banner{
        padding: 45px 0;
    }
    #banner-part .banner .overlay .contact-banner h2{
        font-size: 45px;
        padding: 0;
    }
    /* ========================= farm =========================== */
    .price_tag {
        transform: translate(44.7%,-130%);
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* impacr stories */
    .card-vedio iframe {
        width: 296px;
    }
  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }