@media (min-width:320px) and (max-width:575px){
    /* common part */
    main{
        overflow: hidden;
    }
    .section-gap {
    margin-top: 45px;
    }
    #banner-part .banner .overlay {
    padding: 40px 0;
    }
    #banner-part .banner .overlay h2{
    font-size: 35px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0.5px;
    }
    #banner-part .banner .overlay a{
        margin-bottom: 10px;
    }
    #banner-part .slick-dots{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        padding-left: 0 !important;
    }
    #banner-part .slick-dots li{
        display: inline-block;
    }
    #banner-part .slick-dots li button{  
        font-size: 0;
        background: transparent;
        border: 2px solid  #fff;
        border-radius: 50%;
        margin: 0 10px;
        width: 10px;
        height: 10px;
    }
    #banner-part .slick-dots .slick-active button{
        background:#fff ;
    }
    .text-width p{
        font-size: 12px;
        line-height: 23px;
    }
    h2{
        font-size: 35px;
    }
    .text-width{
        width: 85% !important;
    }
    .card_part {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .card-item {
    width: 90%;
    margin-bottom: 22px;
    }
    .text-padding{
        padding-right: 10px;
        text-align: center;
    }
    .text-padding h2{
        font-size: 27px;
    }
    .text-padding .btn-farm{
        margin-bottom: 20px;
    }
    .tcenology h2{
        font-size: 23px;
    }
    .tcenology p{
        font-size: 14px;
        line-height: 25px;
    }
    .tcenology .text-bottom{
        margin-bottom: 12px;
    }
    .improve-item_1 {
    width: 40%;
    left: 33px;
    top: 20px;
    }
    .improve-item_2 {
    width: 48%;
    left: 125px;
    }
    .improve-item_3 {
    width: 40%;
    left: 33px;
    bottom: 40px;
    }
    .improve-title h2{
        font-size: 28px;
    }
    .stories-title h2{
        font-size: 33px;
    }
    .card-vedio iframe {
    width: 266px;
    height: 150px;
    }
    /* ===== about us start ====== */
    #our-culture h2{
        font-size: 40px;
        padding-bottom: 30px;
    }
    #our-culture h2 .culture-and{
        display: block;
    }
    /* ===== about us end ====== */
    
}